Ext.onReady(function () {
    var show_map_in_panel=new Ext.panel.Panel({
    	layout:{
        	type:'hbox',
       		align: 'stretch'
         	},
  		defaults : { 
			collapsible : true,
       		collapseDirection: "left",
			},
		items: [{                     
			title: '<%= t('mapnav') %>',
		  	html:"<div style='width:100%;height:100%;border:1px solid gray' id='mapDiv'><h4>网络错误</h4></div>",
			flex: 3             
		    }
		]})
	var work_space = Ext.getCmp('center');
	work_space.removeAll();
	work_space.add(show_map_in_panel);
	work_space.doLayout();
	var map = new BMap.Map("mapDiv");             

	var point="杭州市"
	map.addControl(new BMap.NavigationControl());

	var bdary = new BMap.Boundary();
    bdary.get("杭州西湖区", function(rs){           
        var count = rs.boundaries.length; 
        for(var i = 0; i < count; i++){
            var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 2, strokeColor: "#ff0000", fillOpacity: 0.01,}); 
            map.addOverlay(ply);  
            map.setViewport(ply.getPath());            
        }                
    });   


map.enableScrollWheelZoom();   
map.addEventListener("click",function(e){  
	var flag=false;
	<% Basestation.all.each do |basestation| %>
	if((e.point.lng!=<%= basestation.longitude %>) || ( e.point.lat!=<%= basestation.latitude %>))
	{
	  	flag=true  
	}
	<% end %>
	if(flag==true){
	//	alert(e.point.lng + "," + e.point.lat); 
        // map.removeControl(myZoomCtrl);
	function Append(){   
	 	this.defaultAnchor = BMAP_ANCHOR_TOP_RIGHT;  
	 	this.defaultOffset = new BMap.Size(0, 0);  
	}  
	Append.prototype = new BMap.Control(); 
	Append.prototype.initialize = function(map){  
		var div = document.createElement("div");  
 		div.className = "message";
 		div.style.cursor = "pointer";  
 		div.style.border = "1px solid gray";  
 		div.style.backgroundColor = "white"; 
 		map.getContainer().appendChild(div);
		var str= e.point.lng + "," + e.point.lat;
		$( ".message" ).html(str);
 		return div;  
	}  
	var myAppend = new Append(); 
	map.addControl(myAppend);
	}
}); 
var marker1;
<% Basestation.all.each do |basestation| %>
 	marker1 = new BMap.Marker(new BMap.Point(<%= basestation.longitude %>, <%= basestation.latitude %>)); 
	map.addOverlay(marker1);  
	var opts = {  
 		width : 250,     
 		height: 100,      
 		title : "基站信息",  
    	enableMessage: false,
    	enableAutoPan: true
		}  
	var infoWindow = new BMap.InfoWindow('经度'+'<%= basestation.longitude %>'+'纬度'+'<%= basestation.latitude %>', opts);   
	marker1.addEventListener("click", function(){this.openInfoWindow(infoWindow);});
<% end %>

});

