<style>
	#CheckCode{ float:left;}
	.x-form-code{width:75px;height:25px;vertical-align:middle;cursor:pointer; float:left; margin-left:7px;}
</style>

<script>
﻿Ext.Ajax.defaultHeaders = { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') };
//定义验证码控件

var code;
var a='true';
var url='';
Ext.onReady(
	function(){
		Ext.Ajax.request({     
       		url:'sessions/test.html',  
        	success: function(resp,opts) {   
            	code= String(resp.responseText).split('/simple_captcha?code=')[1].split('&')[0] 
				Ext.define('CheckCode',{
				    extend: 'Ext.form.field.Text', 
				    alias: 'widget.checkcode',
				    inputTyle:'codefield',
				    codeUrl:Ext.BLANK_IMAGE_URL,
				    isLoader:true,
				    onRender:function(ct,position){
				        this.callParent(arguments);
				        this.codeEl = ct.createChild({ tag: 'img', src: Ext.BLANK_IMAGE_URL});
				        this.codeEl.addCls('x-form-code');
//				        this.codeEl.on('click', this.loadCodeImg, this);
                        this.codeEl = ct.createChild({ tag: 'img', src: 'assets/refresh.png'});
				        this.codeEl.addCls('x-form-code-right');
						Ext.select('img.x-form-code-right').on('click', this.loadCodeImg, this);
				        if (this.isLoader) this.loadCodeImg();
				    },
				    alignErrorIcon: function() {
				        this.errorIcon.alignTo(this.codeEl, 'tl-tr', [2, 0]);
				    },
				    //如果浏览器发现url不变，就认为图片没有改变，就会使用缓存中的图片，而不是重新向服务器请求，所以需要加一个参数，改变url
				    loadCodeImg: function() {	
						if(a=='true')
						{
//				        	this.codeEl.set({ src: this.codeUrl + '?code='+code+'&time=' + <%= Time.now.to_i.to_s %> });
//							this.codeEl.set({ title: '<%= t('click me to refresh code') %>' });
							Ext.select('img.x-form-code').each(function(i){
												var d = new Date();
												var n = d.getTime(); 
												i.dom.src='simple_captcha' + '?code='+code+'&time=' + <%= Time.now.to_i.to_s %>;
//												i.dom.title='<%= t('click me to refresh code') %>'
									});
							Ext.select('img.x-form-code-right').each(function(i){
												i.dom.title='<%= t('click me to refresh code') %>'
									});
							a='false';
							url=this.codeUrl;
							console.log(url);
						}
						else
							Ext.Ajax.request({     
					       		url:'sessions/test.html',  
					        	success: function(resp,opts) {   
					            	//location.reload(true);
									//form.remove(checkcode);
									//form.add(checkcode);  
									//form.doLayout();
									//console.log(url+'?code='+code+'&time=' + <%= Time.now.to_i.to_s %>);
									Ext.select('img.x-form-code').each(function(i){
												var d = new Date();
												var n = d.getTime(); 
												i.dom.src=url+'?code='+code+'&time=' + n.toString()
									});
								}
							})
				    }
				});
				var checkcode = Ext.create('CheckCode',{
				 	cls : 'key',
		            fieldLabel : '<%= t('checkcode') %>',
		            name : 'captcha',
		            id : 'CheckCode',
		            allowBlank : false,
		            isLoader:true,
		            blankText : '验证码不能为空',
		            codeUrl: 'simple_captcha',
		            width : 150
		        });
				var form;
				function submitOnEnter(field, event) {
	/*
					if (event.getKey() == event.ENTER) {
						field.up('form').getForm().submit({ 
			                        method:'POST', 
			                        waitTitle:'Connecting', 
			                        waitMsg:'Sending data...',
			                        success:function(rec, op){ 
											if(op.result.type=='student')
												window.location.href="http://"+'<%= request.original_url.split('/')[2] %>'+'/student/historydata'
											else if(op.result.type=='teacher')
												window.location.href="http://"+'<%= request.original_url.split('/')[2] %>'+"/teacher/index"
											else
												window.location.href="http://"+'<%= request.original_url.split('/')[2] %>'+"/manager/index"
			                        },
			                        failure:function(forms, action){ 
			                            Ext.Msg.alert('Warning!', 'password or username or confirmation code wrong'); 
			                            form.getForm().reset(); 
			                        } 
			                    }); 
					}
*/
	console.log('tes');
				}
					form = Ext.create('Ext.form.Panel',{
						frame:true,
						title:'用户登录',
						width:350,
						height:170,
						//渲染到页面中的loginForm层中
					//	renderTo:'loginpanel', 
						//是否可以拖动
						draggable:true,
						//使buttons中的button居中显示
						buttonAlign:'center',
						fieldDefaults:{
							//居左
							labelAlign:'center',
							//宽度
							labelWidth:60,
							anchor: '70%',
							//错误提示显示在一边(side)，还可以配置为under、title、none
							msgTarget: 'side'
						},
						listeners: {
							specialkey: submitOnEnter
							},
						items:[
							{
					    		xtype:'textfield',
					    	   	fieldLabel:'用户名',
								name:'captcha_key',
					     	   	hidden: true,
					    	   	value: code
					       	},
					       	{
					    	   	xtype:'textfield',
					    	   	fieldLabel:'<%= t('username') %>',
					    	   	name:'username',
					    	   	allowBlank:false,
					    	   	blankText:'用户名不能为空'
					       	},
					       	{
					    	   	xtype:'textfield',
					    	   	fieldLabel:'<%= t('password') %>',
					    	   	name:'password',
					    	   	inputType:'password',
					    	   	allowBlank:false,
					    	   	blankText:'密码不能为空'
					       	},
							{  	
								xtype: 'combo',
					            store: Ext.create('Ext.data.ArrayStore', {
					                fields: [ 'usertype','value' ],
					                data: [
					                    ['<%= t('student') %>','student'],
					                    ['<%= t('manager') %>','manager'],
					                    ['<%= t('teacher') %>','teacher']
					                ]
					            }),
					            displayField: 'usertype',
								valueField:'value',
					            fieldLabel: '<%= t('usertype') %>',
					            queryMode: 'local',
					            name: 'usertype', 
					            allowBlank:false,
					            listConfig : {
									emptyText : 'no match data', 
									maxHeight : 120 
								},
					            value:'student',
				            },
						 	checkcode
						],
						url: 'sessions/create',
						buttons:[{ 
			                text:'<%= t('login') %>',
			                handler:function(){ 
			                    if (form.getForm().isValid()) {
			                    form.getForm().submit({ 
			                        method:'POST', 
			                        waitTitle:'Connecting', 
			                        waitMsg:'Sending data...',
			                        success:function(rec, op){ 
											if(op.result.type=='student')
												window.location.href="http://"+'<%= request.original_url.split('/')[2] %>'+'/student/historydata'
											else if(op.result.type=='teacher')
												window.location.href="http://"+'<%= request.original_url.split('/')[2] %>'+"/teacher/index"
											else
												window.location.href="http://"+'<%= request.original_url.split('/')[2] %>'+"/manager/index"
			                        },
			                        failure:function(forms, action){ 
			                            Ext.Msg.alert('Failed', action.result ? action.result.errormessage : 'No response');
			                            form.getForm().reset(); 
										Ext.Ajax.request({     
								       		url:'sessions/test.html',  
								        	success: function(resp,opts) {   
												Ext.select('img.x-form-code').each(function(i){
															var d = new Date();
															var n = d.getTime(); 
															i.dom.src=url+'?code='+code+'&time=' + n.toString()
												});
											}
										})
			                        } 
			                    }); 
			                  }
			                } 
			            },{
						text: '<%= t('clear info') %>',
			            handler: function(){
			            	form.getForm().reset();
			            }
			            }]  
					}
				)
				var panels = new Ext.Panel({//声明定义一个面板，用来布局登录页面  
			        renderTo:'loginpanel',//渲染（加载）到指定的loginpanel元素中  
			        layout:'border',//采用border样式布局  
			        width:550,  
			        height:290,  
			        defaults:{border:false},//容器中的每个子组件默认是右边框的  
			        items:[{  
			            region:"north",//顶部（北部）  
			            height:56,  
			            html:'<div id="headerimage" style="background: url(assets/header.png) repeat-x; height: 100px;"></div>'  
			        },{  
			            region:"south",//底部（南部）  
			            height:56,  
			            html:'<div id="headerimage" style="background: url(assets/header.png) repeat-x; height: 100px;"></div>'  
			        },{  
			            region:"west",  
			            width:200,  
			            html:'<img src="assets/leftimage.jpg"/>'  
			        },form]  
			    });  
				Ext.get('loginpanel').setStyle('position', 'absolute').center(Ext.getBody());
	  		},   
            failure: function(resp,opts) {   
           		var respText = Ext.util.JSON.decode(resp.responseText);   
              	Ext.Msg.alert('错误', respText.error);   
            }     
		});	 
	}
)

</script>
<div id="loginpanel"></div>  
