<ul>
<li id="historydata-management" class="left-menu">
	<%= link_to teacher_classgrid_path, :id=>'test1' do %>
		<div><%= image_tag("shortcuts_11.png", :class=>'menu-icon') %></div>
		<div class="menu-text">班级管理</div>
	<% end %>  
</li>
<li id="personinfo-management" class="left-menu">
	<%= link_to teacher_semestergrid_path do %>
		<div><%= image_tag("shortcuts_11.png", :class=>'menu-icon') %></div>
		<div class="menu-text">学期管理</div>
	<% end %>
</li>
<li id="datagraph-management" class="left-menu">
	<%= link_to student_datagraph_path do %>
		<div><%= image_tag("shortcuts_11.png", :class=>'menu-icon') %></div>
		<div class="menu-text">个人管理</div>
	<% end %>  
</li>
<li id="rank-management" class="left-menu">
	<%= link_to student_rank_path do %>
		<div><%= image_tag("shortcuts_11.png", :class=>'menu-icon') %></div>
		<div class="menu-text">个人管理</div>
	<% end %>
</li>
<li id="feedback-management" class="left-menu">
	<%= link_to teacher_personinfo_path do %>
		<div><%= image_tag("shortcuts_11.png", :class=>'menu-icon') %></div>
		<div class="menu-text">个人管理</div>
	<% end %>
</li>
</ul>
