<!DOCTYPE html>
<html>
<head>
  <title><%= t('sportdemo') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    $currenttheme, :media => "all" %>
  <%= javascript_include_tag "login" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
