<!DOCTYPE html>
<html>
<head>
  <title>Sportdemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "manager" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu">
	<%= render :partial => "layouts/managermenu" %>
</div>
<div id="main">
	<%= yield %>
</div>

</body>
</html>
