<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= t(:sportdemo) %></title>
 <%= stylesheet_link_tag    "resetpasswd/editpassword.css", :media => "all" %>
 <%= javascript_include_tag "resetpasswd/jquery-1.9.1.js" %>
 <script>
 $(document).ready(function() {
    $('#submit').click(function(event){
    
        data = $('#password').val();
        var len = data.length;
        
        if(len < 1) {
            alert('密码不能为空');
            // Prevent form submission
            event.preventDefault();
        }
         
        if($('#password').val() != $('#password_confirmation').val()) {
            alert('新密码和确认密码不匹配');
            // Prevent form submission
            event.preventDefault();
            $('#password').val('');
            $('#password_confirmation').val('');
            $('#password').focus()
        }
         
    });
   
});
</script>
  <%= csrf_meta_tags %>
</head>
 <body>
<!-- TOP BAR -->
	<div id="top-bar">		
		<div class="page-full-width">		
                        <%= link_to (t('return to home')), root_path, :class=>"round button dark ic-left-arrow image-left" %>
		</div> <!-- end full-width -->		
	</div> <!-- end top-bar -->	
	<!-- HEADER -->
	<!-- MAIN CONTENT -->
	<div id="content">
	<%= form_tag sessions_editpassword_path, :id=>"login-form" do %> 
	<fieldset>
                                <p>  <%= hidden_field_tag :passwordtoken, @passwordtoken %></p>
                                <p>  <%= hidden_field_tag :usertype, @usertype %></p>
				<p>
					<label for="login-username"><%= t('new passwd') %></label>
				        <%= password_field_tag :password, nil, :id=>'password', :class=>"round full-width-input", :autofocus => true, :placeholder => '' %>
				</p>
				<p>
					<label for="login-password"><%= t('passwd confirm') %></label>		 
                                        <%= password_field_tag :password_confirmation, nil, :id=>'password_confirmation',  :class=>"round full-width-input" %>
				</p>	
				 <input type="submit" value=<%= t('modify passwd') %> class="button round blue image-right ic-right-arrow"  id='submit' />
	</fieldset>
		<% end %>	
	</div> <!-- end content -->
       
</body>
</html>
