<!DOCTYPE html>
<html>
<head>
  <title><%= t('sportdemo') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    $currenttheme, :media => "all" %>
  <%= javascript_include_tag "teacher" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>

</script>
<div class="loader"></div>
<p class="panel-content"> 
	<div id="toPopup"> 	
		<div class="close"></div>
		<span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span>
		<div id="popup_content"> <!--your content start-->
			<p>
		   <div id="highchartcontainer" style=" width: 700px; height: 300px; margin: 0 auto"></div>
		   </p>
		</div> <!--your content end-->
	</div> <!--toPopup end-->
	<div id="backgroundPopup"></div>
</p> 
<div id="menu">
	<%= render :partial => "layouts/teachermenu" %>
</div>
<div id="main">
	<%= yield %>
</div>

</body>
</html>
